/* Header Styles */
.Header {
    display: flex;
    justify-content: space-between; /* Position the logo in the center and nav buttons on the left */
    align-items: center; /* Align items vertically in the center */
    padding: 0px 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #958EF0;
    position: fixed;
    top: 0;
    width: 98%;
}

.HeaderNav {
    display: flex;
    align-items: center; /* Align the navigation links vertically in the center */
}

.HeaderNav a {
    color: #958EF0;
    margin: 0 15px;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    transition: color 0.3s ease;
}

.HeaderNav a:hover {
    color: #333333;
}

.logo {
    display: flex;
    height: 35px;
    width:auto;
}

/* Form Styles */
.Form {
    border: solid 0.5px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 50px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 5px;
    color: #333333;
    margin: 0 auto; /* Center the form horizontally */
    margin-bottom: 150px;

}

.Button {
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: #958EF0;
    background-color: #958EF0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer; /* Add a pointer cursor for better usability */
}

.Button:hover {
    background-color: #ffffff; /* Darker color on hover */
    color: #333333;
}

/* UserProfile Styles */
.UserProfile {
    display: flex;
    border: solid 0.5px;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}


.PostStyle {
    display: flex;
    align-items: center;
    border: solid 0.5px;
    border-radius: 20px;
    flex-direction: column;
    padding: 30px;
    line-height: 1;
    max-width: 350px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.username {
    font-weight: bolder;
    padding: 0;
}

.Images {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px;
    border: solid 1px;
    /* gap: 5px; */
}

.loginpg {
    background-image: url('https://github.com/batoxpr/madcapmansion/blob/main/sound/backgroundnew.png?raw=true');
    background-size: 50%;
}

.date {
    color: grey;
    font-style:oblique;
    margin: 0 auto;
  }
